In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel("84_avalon.xlsx")
df.head()

,Time,Value,State,Quality,Reason,Status,Suppression Type
0,2025-12-20 08:00:32.698,-.03 In.,Low Low,Good,Value Change,NaN,NaN
1,2025-12-20 05:00:30.425,-.02 In.,Low Low,Good,Value Change,NaN,NaN
2,2025-12-20 04:30:29.268,-.02 In.,Low Low,Good,Value Change,NaN,NaN
3,2025-12-20 03:00:26.059,-.02 In.,Low Low,Good,Value Change,NaN,NaN
4,2025-12-20 02:30:24.993,-.02 In.,Low Low,Good,Value Change,NaN,NaN